#root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  min-width: 400px;
  min-height: 100vh;
  box-sizing: border-box;
}

.form {
  display: flex;
  align-items: center;
}

.form-input {
  flex-grow: 1;
  margin-right: 10px;
  padding: 10px;

  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid hsla(0, 0%, 100%, 50%);
}

.button {
  padding: 10px 20px;
  border: 1px solid hsla(211, 100%, 50%, 100%);
  border-radius: 5px;
  background-color: hsla(211, 100%, 50%, 100%);
}

.button:hover {
  background-color: hsla(211, 100%, 35%, 100%);
}

.todo-List {
  margin-bottom: 200px;
  border-radius: 5px;
  box-shadow: 0 2px 4px hsla(0, 0%, 0%, 10%);
}

.todo-item {
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  border: 1px solid hsla(0, 0%, 80%, 100%);
  border-radius: 5px;
  position: relative;
  text-align: left;
}

.todo-completed {
  text-decoration: line-through;
}

ul {
  list-style: none;
  padding: 0;
}
