{
  "semi": true,
  "singleQuote": true,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "trailingComma": "all",
  "endOfLine": "auto",
  "overrides": [
    {
      "files": ["*.css", "*.html"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
